<h2>Buddy Me!</h2>

<p>Bem-vindos ao projeto Buddy Me!.</p>

<div class="jumbotron">
 <h1>Welcome to BuddyME!</h1>
 <a href="#openModal">Open Modal</a>
 <div id="openModal" class="modalDialog">
 	<div>
 		<a href="#close" title="Close" class="close">X</a>
 		<h2>Encontro no Sandubão</h2>
      <div class="imagem-evento"></div>
 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel elementum ante. Quisque aliquet interdum pharetra.</p>
 		<p>Participantes: 6</p>
      <button type="button" class="btn btn-default botao-participar" href="#" >Quero participar!</button>
 	</div>
 </div>
 <p>
   <a class="btn btn-lg btn-primary" href="#" role="button">Log In With Facebook</a>
   <a class="btn btn-lg btn-primary" href="#" role="button">Log In With Google +</a>
 </p>
</div>