
<div class="jumbotron">
 <h1>Welcome to BuddyME!</h1>
 <p>
   <a class="btn btn-lg btn-primary" href="#" role="button">Log In With Facebook</a>
   <a class="btn btn-lg btn-primary" href="#" role="button">Log In With Google +</a>
 </p>
</div>