	
 <section>
    <div class="container">
      <div class="row align-items-center">
         <div class="col-md-7 order-2">
           <div class="p-5">
             <img src="/assets/Collage1.jpg" style="width:100%; ">
            </div>
          </div>
          <div class="col-md-5 order-4">
            <div class="p-4">
            	  <div class="col-md-2 order-2">
            	<img src="/assets/h2.png" style="width:100%">
            	</div>
              <h2 class="display-4" style="text-align: center">Para você mesmo que quer novas experiências!</h2>
              <p style="text-align: center">Unir o seu caminho com o de pessoas que não estão conectadas a você através de atividades e eventos! Já imaginou um fim de semana em que você pode sair para comer no seu restaurante favorito com pessoas totalmente novas?! O BUDDY ME te proporciona essa possibilidade! Junte-se a nós.
              </p>
          </div>
           <div class="p-3">
            <div class="col-md-2 order-2">
            	<img src="/assets/h3.png" style="width:100%">
            </div>
              	<h1 class="display-4">Localize Eventos!</h1>
              	<div class="col-md-2 order-2">
            	<img src="/assets/h4.png" style="width:100%">
            </div>
              <h1 class="display-4">Conquiste Pontos!</h1>
              <div class="col-md-2 order-3">
               <img src="/assets/h5.png" style="width:100%">
            </div>
              <h1 class="display-4">Curta o rôle!</h1>       
          </div>
        </div>
      </div>
    </div>
</section>

<div class="footer">
  <p class="m-0 text-center text-white">Copyright &copy; Buddy Me 2017</p>
</div>
