<p id="notice"><%= notice %></p>

<body>
	<h1>About Us - Sobre o Projeto</h1>
	<h3> 
		"Rede Social destinada a pessoas que desejam compartilhar experiências baseada em convites para espaços ou atividades de interesse comum. A proposta é que os usuários cadastrem atividades, geralmente realizada em grupo de pessoas proximas como amigos e familiares, para compartilharem essa experiência com novas pessoas."
	</h3>
	<br>
	<h4>
	Equipe:<br><br>Gabriel Michelini Vieira<br>Raphael Takashi Miyaguni Franciscatte<br> Jonatas Francklin Yano se Sousa<br>Luan Miranda Sales<br>Gustavo Romito Nogueira<br>
	Marcello Vanucci Tedardi<br><br>BUDDY US!
	</h4>
</body>
