/*
*
*= require fullcalendar
*/

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .modalDialog {
 	position: fixed;
 	font-family: Arial, Helvetica, sans-serif;
 	top: -15%;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	background: rgba(0,0,0,0.8);
 	z-index: 99999;
 	opacity:0;
 	-webkit-transition: opacity 400ms ease-in;
 	-moz-transition: opacity 400ms ease-in;
 	transition: opacity 400ms ease-in;
 	pointer-events: none;
   h2 {
      text-align: center;
   }
   p {
      text-align: justify;
   }
 }

 .modalDialog:target {
 	opacity:1;
 	pointer-events: auto;
 }

 .modalDialog > div {
 	width: 500px;
 	position: relative;
 	margin: 10% auto;
 	padding: 5px 20px 13px 20px;
 	border-radius: 10px;
 	background: #fff;
 	background: -moz-linear-gradient(#fff, #999);
 	background: -webkit-linear-gradient(#fff, #999);
 	background: -o-linear-gradient(#fff, #999);
 }

 .close {
 	background: #606061;
 	color: #FFFFFF;
 	line-height: 25px;
 	position: absolute;
 	right: -12px;
 	text-align: center;
 	top: -10px;
 	width: 24px;
 	text-decoration: none;
 	font-weight: bold;
 	-webkit-border-radius: 12px;
 	-moz-border-radius: 12px;
 	border-radius: 12px;
 	-moz-box-shadow: 1px 1px 3px #000;
 	-webkit-box-shadow: 1px 1px 3px #000;
 	box-shadow: 1px 1px 3px #000;
 }

 .close:hover { background: #00d9ff; }

 .imagem-evento {
   background-image: url(http://anamaria.uol.com.br/orinoco/media//images/raw/2016/05/16/hamburguer-feito-em-casa.jpg);
   height: 307px;
   width: 460px;
   background-size: 100%;
   position: relative;
   display: table;
   border-radius: 5px;
   margin-bottom: 10px;
}

.botao-participar {
   padding: 15px;
   margin: auto;
   display: block;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 10px;
}
