<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Buddy Me!</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href= http://localhost:3000/>Home</a></li>
          <li><a href="/events">Eventos</a></li>
          <li><a href="/my_events">Meus Eventos</a></li>
          <li><a href=/devise_scope/users/sign_up>Sign-Up</a></li>
          <li><a href="/devise_scope/users/sign_in">Sign-In</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
</nav>
